body {
    margin: 0 !important;
    font-family: sans-serif;
    color: rgb(70, 49, 70);
}
h1 {
    font-size: 5vh;
}
#titP {
    padding-top: 16%;
}
#cabecera {
    color: rgb(253, 244, 255);
    height: 30vh;
    width: 90%;
    padding: 5%;
    background-image: url('https://images.unsplash.com/photo-1557682250-33bd709cbe85?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1015&q=80');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#contenido {
    height: 25vh;
    width: 90%;
    padding-left: 5%;
    padding-top: 10%;
    line-height: 5vh;
}
#carga {
    height: auto;
    width: 90%;
    padding-top: 15%;
    padding-left: 5%;
    padding-right: 5%;
    line-height: 5vh;
}
ul {
    font-size: larger;
}
a {
    color: rgb(185, 115, 185);
    text-decoration: none;
}
a:hover {
    color: rgb(234, 1, 255);
    font-size: larger;
}
#footer {
    color: rgb(255, 250, 255);
    font-size: larger;
    text-align: center;
    height: 20vh;
    width: 100%;
    padding-top: 10%;
    margin-top: 5%;
    background-color: rgb(63, 54, 63);
}
img {
    width: auto;
    height: 20vh;
}
#floatBtn {
    color: rgb(255, 255, 255);
    background-color:rgb(255, 4, 255);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: fixed;
    margin-left: 70%;
    margin-top: -15vh;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: center;
    width: auto;
    border-collapse: collapse;
    border: 1px solid rgb(169, 155, 172);
}
button {
    height: 5vh;
    background-color: rgb(220, 151, 252);
}